In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [94]:
last_fm = pd.read_csv('lastfm.csv')
last_fm.head()

   user                   artist sex  country
0     1    red hot chili peppers   f  Germany
1     1  the black dahlia murder   f  Germany
2     1                goldfrapp   f  Germany
3     1         dropkick murphys   f  Germany
4     1                 le tigre   f  Germany

In [95]:
last_fm.count()

user       289955
artist     289955
sex        289955
country    289955
dtype: int64

In [96]:
print("Max user:", last_fm['user'].max())
print("Min user:", last_fm['user'].min())
print()

print("Number of distinct users:", last_fm['user'].nunique())
print("Number of distinct artists:", last_fm['artist'].nunique())
print("Number of distinct countries:", last_fm['country'].nunique())

Max user: 19718
Min user: 1

Number of distinct users: 15000
Number of distinct artists: 1004
Number of distinct countries: 159

### Data Cleaning

In [ ]:
# validate that there is no null values
cols = ['user', 'artist', 'sex', 'country']

null_counts = last_fm[cols].isnull().sum()
print(null_counts)

user       0
artist     0
sex        0
country    0
dtype: int64

In [ ]:
# remove duplicates
last_fm1 = last_fm.drop_duplicates(subset=['user','artist','sex','country'])
print(last_fm1.shape[0])

289953

In [99]:
lastfm_df_final = (
    last_fm1
    .groupby(['user', 'sex', 'country'])['artist']
    .apply(list)  
    .reset_index()
    .rename(columns={'artist': 'artist_playlist'})
)

print(lastfm_df_final.head())

   user sex         country                                    artist_playlist
0     1   f         Germany  [red hot chili peppers, the black dahlia murde...
1     3   m   United States  [devendra banhart, boards of canada, cocorosie...
2     4   m  United Kingdom  [tv on the radio, tool, kyuss, dj shadow, air,...
3     5   m         Finland  [dream theater, ac/dc, metallica, iron maiden,...
4     6   m        Portugal  [lily allen, kanye west, sigur r√≥s, pink floyd...

In [100]:
lastfm_df_final.to_csv("lastfm_processed.csv")